@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.home-header {
    background-color: none;
}

header {
    background-color: white;
}

.home-header {
    background-color: transparent;
}

.space-between {
    justify-content: space-between;
}

#navigation {
    margin: 0 1em;
}

#navigation>p {
    padding: 0.6em 1em;
    margin: 0.5em;
    font-size: 1.2em;
}

#active {
    background-color: #03A9F4;
    border-radius: 15em;
}

#active>a {
    color: white;
}

#logo {
    padding: 0.6em;
    font-size: 1.6em;
    font-weight: 600;
}

.background-img {
    background: url(resources/Can-Your-Dog-Benefit-from-a-Grain-Free-Diet-825x510.jpg);
    background-size: cover;
    height: 100vh;
}

.main {
    padding: 1em;
}

.hero {
    width: 30%;
    margin: 5em 6em 0 auto;
    padding: 1em;
}

.hero>p {
    font-size: 1.2em;
}

.hero>div {
    justify-content: center;
}

button {
    margin: 1em;
    padding: 0.5em 2em;
    font-size: 18px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 0.5em;
}

.btn-primary {
    background-color: #03A9F4;
}

.btn-secondary {
    background-color: #9E9E9E;
    color: white;
}

.portion {
    width: 90%;
    margin: 2em auto;
    text-align: center;
}

.portion h2 {
    margin: 0.3em 0;
}

.card {
    margin: 2em 0;
    padding: 1em;
    background-color: white;
    border-radius: 0.5em;
    box-shadow: 10px 5px 5px rgb(190, 187, 187, 0.2);
    justify-content: space-between;
    align-items: center;
}

#gallery .cards {
    text-align: left;
}

#gallery .card>div {
    width: 15%;
}

#gallery .card>div>img {
    border-radius: 50%;
    width: 100%;
}

#gallery .card>.text {
    width: 80%;
}

#gallery .name {
    font-size: 1.6em;
    font-weight: 700;
}

#video>div {
    margin: 1em auto;
    height: 100%;
}

#video>div>iframe {
    max-width: 100%;
}

#place .cards {
    justify-content: space-between;
}

#place .card {
    width: 30%;
    padding: 0;
}

#place img {
    width: 100%;
}

#place .name {
    margin: 0.6em 0;
    font-size: 1.1em;
}

.sep {
    background-color: #ddd;
    width: 100%;
    height: 1px;
}

#connect>.card {
    margin: 0;
}

#connect>.card>div {
    width: 80%;
    margin: 0 auto;
}

.line {
    justify-content: center;
    margin-top: 0.5em;
}

.line>p {
    margin: 0 1em;
}

footer {
    background-color: #212121;
    padding: 1em;
    color: white;
}

footer a {
    color: white;
}

footer>div {
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    line-height: 1.5em;
}

footer>div>div {
    width: 30%;
    margin-top: 1em;
}

footer h3 {
    margin-bottom: 0.5em;
}

footer>p {
    text-align: center;
    margin: 1em;
    font-style: italic;
}

.icons {
    width: 60%;
}

.icons>a {
    float: left;
    margin-right: 0.6em;
}

.clear {
    clear: both;
}

.ficon {
    width: 2em;
}

.icon {
    padding: 0;
    width: 1.5em;
    height: 1em;
}

#instructions {
    font-size: 1.1em;
    width: 70%;
}

legend {
    font-size: 1.8em;
    font-weight: 900;
}

legend~* {
    text-align: left;
}

#req-form {
    font-size: 0.8em;
    width: 100%;
    margin: 2em auto;
}

form p {
    margin: 0.4em;
}

form input {
    margin: 0.5em 0;
    padding: 0.6em 1em;
}

form br+input {
    width: 30%;
}

form p {
    margin: 1em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

form>p>label, form>p>input {
    width: 50%;
    margin: 0 3em;
}

.btn-dangerous {
    color: #B71C1C;
    border: 1px solid #B71C1C;
    background-color: transparent;
}

#about .card {
    width: 30%;
}

#about .cards {
    justify-content: space-evenly;
}

#about img {
    border-radius: 50%;
    width: 60%;
    margin: 0 auto;
}

#about h3 {
    margin: 0.6em 0;
    color: grey;
}

#about h3+h3 {
    margin: 0.6em 0;
    color: black;
}

#about p {
    margin: 0.8em 0.3em;
}

@media screen and (max-width: 991px) {
    .background-img {
        background: #44505D;
        color: white;
        height: 100vh;
    }
    #logo {
        color: black;
    }
    .home-header {
        background-color: white;
    }
    .hero {
        width: 80%;
        text-align: center;
        margin: 5em auto 0;
        padding: 1em;
        font-size: 1.2em;
    }
    .portion {
        width: 100%;
        text-align: center;
    }
    #about .card {
        width: 45%;
    }
    #instructions {
        font-size: 1.1em;
        width: 90%;
    }
    #place .cards {
        justify-content: space-evenly;
    }
    #place .card {
        width: 45%;
        padding: 0;
    }
    footer>div>div {
        width: 40%;
    }
}

@media screen and (max-width: 767px) {
    .line {
        margin-top: 1em;
    }
    .flex {
        flex-direction: column;
    }
    .background-img, header {
        height: auto;
        text-align: center;
    }
    .hero {
        margin-top: 1em;
        width: 100%;
        height: 100%;
    }
    #gallery .cards {
        text-align: center;
    }
    #gallery .card>div {
        width: 80%;
    }
    .card>p {
        margin: 1em auto;
    }
    #gallery .card>div>img {
        border-radius: 50%;
        width: 50%;
    }
    #about .card {
        width: 100%;
    }
    #instructions {
        font-size: 1em;
        width: 100%;
    }
    form p {
        flex-direction: column;
    }
    form>p>label, form>p>input {
        width: 100%;
    }
    #place .cards {
        flex-direction: row;
        justify-content: space-evenly;
    }
    #place .card {
        width: 45%;
    }
    .card {
        margin: 1em 0;
    }
    footer {
        text-align: center;
    }
    footer>div {
        width: 100%;
    }
    footer>div>div {
        width: 100%;
    }
    .icons {
        width: 30%;
        margin: 0 auto;
    }
    .icons>a {
        width: 33.33%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 600px) {
    #place .cards {
        flex-direction: row;
    }
    #place .card {
        width: 100%;
    }
    #connect>.card>div {
        width: 100%;
    }
    .icons {
        width: 70%;
        margin: 0 auto;
    }
}